- content_for 'popups' do
  #image-popup.popup{:style => "display: none"}
    %h3= t('textile_editor.add_image')
    %form#image_transform_form.transform_form{ :name => "transform_form" }
      .transform_container
        .transform_title
          %strong= t('textile_editor.add_link')
        .add_border_container
          .transform_choice_container
            #image_transform_choice_web.transform_choice.transform_current
              %label
                %input{:type => "radio", :name => "transform_choice", :value => "web", :checked => true}
                = t('textile_editor.web_address')
            - if @page && @page.respond_to?(:attachments)
              #image_transform_choice_attachment.transform_choice
                %label
                  %input{:type => "radio", :name => "transform_choice", :value => "attachment"}
                  = t('textile_editor.attachment')
          .transform_input_container
            #image_transform_input_web.transform_input
              %input#img_web_text{:type => "text", :name => "img_web_text", :value => "", :size => "30"}
              %p.help
                = t('textile_editor.image_url')
            - if @page && @page.respond_to?(:attachments)
              #image_transform_input_attachment.transform_input{:style => "display:none;"}
                = hidden_field(:page, :ancestor_attachments_count)
                = select_tag('img_attachment_text', option_groups_from_collection_for_select(@page.self_and_ancestors, :attachments, :title, :filename, :filename))
                %p.help.advisory
                  %strong= t('textile_editor.image_size_and_type')
                  = t('textile_editor.image_resized')
                %p.help.no-files{:style => 'display:none;'}
                  %strong= t('textile_editor.missing_image_attachment')
                  = t('textile_editor.attach_image_and_return')
          %br{:clear => "all"}/
      .transform_container
        .transform_title
          %strong= t('textile_editor.alt_text')
          %input#alt_text{:type => "text", :size => "25", :name => "alt_text"}
      %input#image-popup-submit.submit{:type=>"submit", :value => t('textile_editor.ok')}
      = t('or')
      = link_to_function(t('cancel'), :class => 'close-link') {|page| page.hide 'image-popup' }
